/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.loader {
  margin: 0% 25%;
  width: 25px;
  height: 25px;
  border: 3px dotted #5541ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader.hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.search-form {
  display: flex;
  width: 230px;
  margin: 2% 50%;
  transform: translate(-50%, -50%);
}

.search-btn {
  height: 30px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgb(82, 82, 244);
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gallery-item {
  box-sizing: border-box;
  list-style-type: none;
  border-style: solid;
}

.gallery-image {
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.gallery-item-description {
  display: flex;
  width: 320px;
}

.btn {
  width: 100px;
  height: 30px;
  margin: 5% 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgb(82, 82, 244);
  color: white;
}

.btn.hidden {
  display: none;
}

.btn:disabled {
  background-color: #bbb4b4;
}